/* Start Global Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt: #0a85e9;
    --main-transition: 0.3s;
    --main-padding: 50px

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* containers media query */
@media (min-width:576px){
    .container{
        width: 540px;
    }
}
@media (min-width:768px){
    .container{
        width:720px;
    }
}
@media (min-width:992px){
    .container{
        width:960px;
    }
}
@media (min-width:1200px){
    .container{
        width:1140px;
    }
}


/* End Global Styles */
/* Start Header Styles */
.header{
    background-color: white;
}
.header .container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
   
}
@media (max-width: 767px){
    .header .container{
        justify-content: center;
    }
}
.header .logo{
    font-size:26px;
    font-weight: bold;
    color : var(--main-color);
    height:  72px;
   
}
@media (max-width: 767px){
    .header .logo{
        width: 100%;
    }

}
    

.header .logo:hover{
    color:var(--main-color-alt);
    transform: scale(1.1);
    transition: var(--main-transition);
}

.header .nav ul{
    display:flex;
    justify-content: space-between;
   
}
.header .nav ul li {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px){
    .header .nav ul li{
        margin: 0px;
        padding: 10px;
    }
}
.header .nav ul li::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: var(--main-color);
    top: 0;
    left: 0;
}
.header .nav ul li:hover{
    color: var(--main-color);
    transition: var(--main-transition);
    background-color: #fafafa;
}
.header .nav ul li:hover::before{
    width: 100%;
    transition: var(--main-transition);
}
.header .mega-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 25px;
    justify-content: space-between;
    border-bottom: var(--main-color) solid 2px;
    z-index: 100;
}

.header .mega-menu .image{
    width: 40%;
}
@media (max-width: 991px){
    .header .mega-menu .image{
        display: none;
    }
    
}
.header .mega-menu img{
    width: 100%;
    
}
.header .mega-menu .links ul li{
    padding: 10px;
    color: var(--main-color);
    border-bottom: #d6d5d5 solid 1px;
}
.header .mega-menu .links ul li:hover{
    background-color: #FAFAFA;
    transition: var(--main-transition);
}
.header .mega-menu .links ul li:last-of-type{
    border-bottom: none;
}
.header .mega-menu .links ul li a i {
    margin-right: 8px;
}
/* End Header Styles */
/* Start Landing Styles */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: bottom left;
}
.landing .container{
    height: calc(100vh - 72px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: calc(72px / 1);
}
@media (max-width: 991px){
    .landing .container{
       justify-content: center;

    }
}
.landing .text h1{
    font-size: 40px;
    letter-spacing: -2px;
    margin:0px;
}
@media (max-width: 991px){
    .landing .text{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.landing .text p{
    font-size: 20px;
    line-height: 1.7;
    color: #666;
    margin:0;
    margin-top:5px;
    max-width: 500px;
}
.landing .image img{
    width: 500px;
    animation: up-and-down 5s linear infinite normal;
}
@media (max-width: 767px){
    .landing .text h1{
        font-size: 30px;
    }
    .landing .text p{
        font-size: 15px;
        max-width: 250px;
    }
}
@media (max-width : 991px){
    .landing .image {
        display: none;
    }
}
@keyframes up-and-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}
.landing a{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    animation: scroll-down 1s linear infinite normal;
}
@media (max-width: 767px){
    .landing a{
        top: 80%;
    }
}
@keyframes scroll-down {
    0% {
        transform: translateX(-50%) translateY(0px);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0px);
    }
}
/* End Landing Styles */

