/* Start Global Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt: #0a85e9;
    --main-transition: 0.3s;
    --secondary-transition: 0.5s;
    --main-padding: 100px;
    --section-background: #ececec;
    --section-paragraph: #666;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2.main-heading{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 34.5px;
    width: fit-content;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 3px solid;
    margin: auto;
    margin-bottom: 75px;
}
h2.main-heading::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    left: -25%;
    transform: translate(-50%, -50%);
    transition: all calc( var(--main-transition) * 2 );
    z-index: -1;
}
h2.main-heading::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    right: -25%;
    transform: translate(50%, -50%);
    transition: all calc( var(--main-transition) * 2 );
    z-index: -1;
    
}
h2.main-heading:hover::before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
  transform: none;
}
h2.main-heading:hover::after {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
  transform: none;
}
/* containers media query */
@media (min-width:576px){
    .container{
        width: 540px;
    }
}
@media (min-width:768px){
    .container{
        width:720px;
    }
}
@media (min-width:992px){
    .container{
        width:960px;
    }
}
@media (min-width:1200px){
    .container{
        width:1140px;
    }
}


/* End Global Styles */
/* Start Header Styles */
.header{
    background-color: white;
}
.header .container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
   
}
@media (max-width: 767px){
    .header .container{
        justify-content: center;
    }
}
.header .logo{
    font-size:26px;
    font-weight: bold;
    color : var(--main-color);
    height:  72px;
   
}
@media (max-width: 767px){
    .header .logo{
        width: 100%;
    }

}
    

.header .logo:hover{
    color:var(--main-color-alt);
    transform: scale(1.1);
    transition: var(--main-transition);
}

.header .nav ul{
    display:flex;
    justify-content: space-between;
   
}
.header .nav ul li {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px){
    .header .nav ul li{
        margin: 0px;
        padding: 10px;
    }
}
.header .nav ul li::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: var(--main-color);
    top: 0;
    left: 0;
}
.header .nav ul li:hover{
    color: var(--main-color);
    transition: var(--main-transition);
    background-color: #fafafa;
}
.header .nav ul li:hover::before{
    width: 100%;
    transition: var(--main-transition);
}
.header .mega-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 25px;
    justify-content: space-between;
    border-bottom: var(--main-color) solid 2px;
    z-index: 100;
}

.header .mega-menu .image{
    width: 40%;
}
@media (max-width: 991px){
    .header .mega-menu .image{
        display: none;
    }
    
}
.header .mega-menu img{
    width: 100%;
    
}
.header .mega-menu .links ul li{
    padding: 10px;
    color: var(--main-color);
    border-bottom: #d6d5d5 solid 1px;
}
.header .mega-menu .links ul li:hover{
    background-color: #FAFAFA;
    transition: var(--main-transition);
}
.header .mega-menu .links ul li:last-of-type{
    border-bottom: none;
}
.header .mega-menu .links ul li a i {
    margin-right: 8px;
}
/* End Header Styles */
/* Start Landing Styles */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    background-color:var(--section-background);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: bottom left;
}
.landing .container{
    height: calc(100vh - 72px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: calc(72px / 1);
}
@media (max-width: 991px){
    .landing .container{
       justify-content: center;

    }
}
.landing .text h1{
    font-size: 40px;
    letter-spacing: -2px;
    margin:0px;
}
@media (max-width: 991px){
    .landing .text{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.landing .text p{
    font-size: 20px;
    line-height: 1.7;
    color: #666;
    margin:0;
    margin-top:5px;
    max-width: 500px;
}
.landing .image img{
    width: 500px;
    animation: up-and-down 5s linear infinite normal;
}
@media (max-width: 767px){
    .landing .text h1{
        font-size: 30px;
    }
    .landing .text p{
        font-size: 15px;
        max-width: 80%;
    }
}
@media (max-width : 991px){
    .landing .image {
        display: none;
    }
}
@keyframes up-and-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}
.landing a{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    animation: scroll-down 1s linear infinite normal;
}
@media (max-width: 767px){
    .landing a{
        top: 80%;
    }
}
@keyframes scroll-down {
    0% {
        transform: translateX(-50%) translateY(0px);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0px);
    }
}
/* End Landing Styles */
/* Start Articles Styles */
.articles{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:25px
}
.articles .cat{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: var(--main-transition);
}
.articles .cat .text{
    padding: 20px;
    border-bottom: 1px solid #9d9c9c5c
}
.articles .cat .text h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
.articles .cat .text p{
    font-size: 16px;
    line-height: 1.7;
    color: #666;
    
    margin-top: 10px;
    margin-bottom: 0px;
}
.articles .cat img{
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    width: 100%;
}
.articles .cat .info{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
}
.articles .cat .info a{
    font-weight: bold;
}
.articles .cat:hover .info i{
    animation:  arrow-right linear 1s infinite normal;
}
@keyframes arrow-right{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0px);
    }

}
.articles .cat:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-8px);
    transition: var(--main-transition);
}
/* End Articles Styles */
/* Start Gallery Styles */
.gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.gallery::before{
    content: "";
    position: absolute;
    background-color: var(--section-background);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px,1fr));
    gap:25px;
}
.gallery .item{
    padding: 15px;
    background-color: white;
    border-radius: 10px; /* optional: for nice rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.gallery .item .image-wrapper{
    overflow: hidden;
    
}
.gallery .item img{
    max-width: 100%;
    overflow: hidden;
    transform: scale(1) rotate(0deg);
    transition: var(--main-transition);
    
}
.gallery .item:hover img{
    transform : scale(1.1) rotate(3deg);
    transition: var(--main-transition);
}
/* End Gallery Styles */
/* Start Features Styles */
.features{
    padding-top : var(--main-padding);
    padding-bottom : var(--main-padding);
}
.features .container{
    display: grid;
    grid-template-columns : repeat( auto-fit , minmax(300px , 1fr ));
    gap: 30px;
}
.features .feat{
    border: 1px #e4e4e4 solid;
    padding-bottom: 30px;
    overflow: hidden;
}

.features .image{
    position: relative;
}
.features .image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 2;
}
.features .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--secondary-transition);
    z-index: 3;
}
.features .image img{
    width: 100%;
}
.features .text {
    text-align: center;
}
.features .text h3{
    font-size: 40px;
    font-weight:bold;
    position: relative;
    width: fit-content;
    margin:auto;
    
}
.features .text h3::after{
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: 70%;
    height: 4px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.features .text p{
   margin : 25px auto;
   padding: 20px;
    font-size: 20px;
    line-height: 1.7;
    color: var(--section-paragraph);
}
 .features .text a{
    display: block;
    width: fit-content;
    margin: auto;
    position: relative; 
    color: var(--main-color);
    padding: 10px 50px;
    font-weight: bold;
    font-size: 22px;
    border: 3px solid ;
    border-radius: 5px;
   
    
 }
 .features .text a::before{
    content:"";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    transition :  width var(--secondary-transition);
    z-index: -1;
 }
.features .feat:hover .image::after{
    border-width: 170px 500px 170px 0;
    
}
.features .feat:hover a::before{
    width: 100%;
    /* transition-duration: var(--main-transition) ; */
}
.features .feat:hover a{
    color: white;
}
/* End Features Styles */
/* Start Testimonials Styles */
.testimon {
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.testimon::before{
    content: "";
    position: absolute;
    background-color: var(--section-background);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.testimon .container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    gap: 30px;
}
.testimon .profile{
    position: relative;
    background-color: white;
    padding : 20px;
    border-radius: 8px;
}
.testimon .profile img{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top:0;
    right: 0;
    transform: translate(15%,-40%);
    border: 10px solid var(--section-background);
}
.testimon .profile h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
.testimon .profile h5{
    color : #777;
    font-size: 16px;
    font-weight: normal;
    margin: 15px 0px;
}
.testimon .profile .stars .fa-solid{
    color: gold;
    margin:0px;
}
/* .testimon .profile:not(:nth-of-type(4)) .stars i:last-of-type{

    color: white;
} */
.testimon .profile p{
    color : var(--section-paragraph);
    line-height: 1.7;
    margin: 12px 0px;
}
/* End Testimonials Styles */